global:
  scrape_interval: 5s # Как часто собирать метрики

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080'] # Имя контейнера cadvisor и порт
